:root {
    --main-color-black: #222;
    --font-color-white: #fff;
    --background-color: #faf9f7;
    --border: 1px solid #222;
    --font-family-AlternateGothic: AlternateGothic2 BT;
    --font-family-BODAR: BODAR;
    --font-family-SpoqaHanSansNeo: SpoqaHanSansNeo;
    --font-size-24: 24px;
    --font-size-20: 20px;
    --font-size-18: 18px;
    --font-size-16: 16px;
    --font-size-14: 14px;
    --font-size-12: 12px
}

@font-face {
    font-family: BODAR;
    src: url(../font/BODAR.ttf);
}

@font-face {
    font-family: AlternateGothic2 BT;
    src: url(../font/Alternate\ Gothic\ No.2\ BT.ttf);
}

@font-face {
    font-family: SpoqaHanSansNeo;
    src: url(../font/SpoqaHanSansNeo-Regular.ttf);
}

body {
    background-color: var(--background-color);
}

header {
    width: 1280px;
    margin: 0 auto;
    position: relative;
}

#gb-nav-bar {
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 2;
}

.header-nav {
    width: 220px;
    height: 50px;
    border: var(--border);
    border-right: 0;
    line-height: 50px;
    text-align: center;
    font-size: var(--font-size-20);
    font-family: var(--font-family-AlternateGothic);
    transition: 0.7s;
    background-color: var(--background-color);
    cursor: pointer;
}

.header-nav:last-child {
    border-right: var(--border);
}

.nav-hover:hover {
    background-color: var(--main-color-black);
    color: var(--font-color-white);
}

#search {
    display: none;
}

.pc-hide {
    display: none;
}

.drop-down-container {
    width: 220px;
    height: 100vh;
    background-color: var(--background-color);
    border: var(--border);
    border-top: 0;
    border-left: 0;
    box-sizing: border-box;
    display: none;
}

.main-menu {
    width: 220px;
    height: 50px;
    background-color: var(--background-color);
    border: var(--border);
    border-left: 0;
    border-top: 0;
    box-sizing: border-box;
    color: var(--main-color-black);
    font-size: var(--font-size-20);
    overflow: hidden;
    display: none;
    transition: 0.7s;
}

.sub-menu li:first-child {
    border-top: 2px solid #222;
}

.sub-menu li {
    border-top: var(--border);
}


.sub-menu a {
    font-family: var(--font-family-AlternateGothic);
    font-size: var(--font-size-20);
    color: var(--main-color-black);
    transition: 0.7s;
}

.header-logo {
    width: 400px;
    cursor: auto;
}

.header-logo-img {
    width: 35px;
    height: 35px;
    margin-top: 5px;
}

.account-list {
    display: none;
}

.account-list a {
    width: 220px;
    height: 50px;
    background-color: var(--background-color);
    border: var(--border);
    border-top: 0;
    box-sizing: border-box;
    color: var(--main-color-black);
    font-size: var(--font-size-20);
    transition: 0.7s;
}

.sub-menu a:hover, .account-list a:hover {
    background-color: var(--main-color-black);
    color: var(--font-color-white);
}


.nav-hover:hover .drop-down-container, .nav-hover:hover .main-menu, .nav-hover:hover .account-list {
    display: block;
}

.cr-typograpy-wrapper {
    width: 1280px;
    height: 230px;
    margin: 0 auto;
    border: var(--border);
    border-top: 0;
    padding-top: 45px;
}

.cr-typography {
    font-size: 190px;
    font-family: var(--font-family-BODAR);
    text-align: center;
    animation-duration: 3s;
    animation-name: fadeIn;
}

@keyframes fadeIn {
    from {
        opacity: 0.15;
    }
    to {
        opacity: 1;
    }
}


.frame {
    width: 1280px;
    height: 700px;
    border: var(--border);
    margin: 0 auto;
    border-top: 0;
    display: flex;
}

.text-content-wrapper {
    width: 800px;
    height: 700px;
    border-right: var(--border);
    display: flex;
    align-items: center;
}

.text-content {
    width: 630px;
    height: 420px;
    margin: 0 auto;
    position: relative;
}

.left-spacing::before {
    content: "";
    display: block;
    width: 50px;
    height: 100%;
    border-right: var(--border);
}

.right-spacing::after {
    content: "";
    display: block;
    width: 50px;
    height: 100%;
    border-left: var(--border);
}

.text-content p {
    font-family: var(--font-family-SpoqaHanSansNeo);
    font-size: var(--font-size-14);
    line-height: 25px;
}

.content-title {
    font-size: var(--font-size-24);
    font-family: var(--font-family-AlternateGothic);
    margin-top: 70px;
    margin-bottom: 40px;
}

.link-bt {
    width: 250px;
    height: 60px;
    border: var(--border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.7s;
    position: absolute;
    right: 0;
    bottom: 0;
    color: var(--main-color-black);
    font-family: var(--font-family-AlternateGothic);
    font-size: var(--font-size-16);
}

.link-bt:hover {
    background-color: var(--main-color-black);
    color: var(--font-color-white);
}

.link-bt:hover .hover-fill {
    fill: var(--font-color-white);
}

.hover-fill {
    transition: 0.7s;
}

.story-img {
    width: 480px;
    height: 700px;
    background-image: url(../img/main.jpg);
    background-size: 480px 700px;
    box-sizing: border-box;
    border-bottom: var(--border);
    animation: rise 1.3s;
}

@keyframes rise {
    from {
        opacity: 0.15;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}


#membership-section > .text-content-wrapper {
    border-right: 0;
    border-left: var(--border);
}

.membership-img {
    width: 480px;
    height: 700px;
    background-image: url(../img/membership.png);
    background-size: 480px 700px cover;
    background-position: 85%;
    border-bottom: var(--border);
    box-sizing: border-box;
}

.home-styling-wrapper-left {
    width: 780px;
    height: 700px;
    border-right: var(--border);
}

#home-styling-section .text-content-wrapper  {
    width: 780px;
    height: 378px;
    border-bottom: var(--border);
}

#home-styling-section .text-content {
    height: 250px;
}

.hs-img-1 {
    width: 670px;
    height: 321px;
    background-image: url(../img/260492017_1367823950324048_4594113876072609415_n.jpg);
    background-size: cover;
    background-position: center 40%;
    border-left: var(--border);
    border-right: var(--border);
    margin-left: 50px;
}

.home-styling-wrapper-right {
    width: 500px;
    height: 700px
}

.hs-img-2 {
    width: 447px;
    height: 254px;
    background-image: url(../img/hs-img-2.jpg);
    background-size: cover;
    border-right: var(--border);
}

.hs-img-3 {
    width: 498px;
    height: 444px;
    border-top: var(--border);
    background-image: url(../img/hs-img-3.jpg);
    background-size: cover;
}

#slide-banner-section {
    width: 1280px;
    height: 730px;
    border: var(--border);
    border-top: 0;
    margin: 0 auto;
    position: relative;
}

.top-spacing::before {
    content: "";
    display: block;
    width: 100%;
    height: 50px;
    border-bottom: var(--border);
}

.slide-viewport {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide-inner {
    display: flex;
    transition: 1s;
}

.slide-content {
    width: 1280px;
    height: 678px;
}

.slide-img-1 {
    background-image: url(../img/1st_open.jpg);
    background-size: cover;
}

.slide-img-2 {
    background-image: url(../img/holimoly.jpg);
    background-size: cover;
}

.slide-img-3 {
    background-image: url(../img/h-holiday.jpg);
    background-size: cover;
}

.slide-img-4 {
    background-image: url(../img/cca_12_review.jpg);
    background-size: cover;
}

.radio-container {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.radio-bt {
    width: 50px;
    height: 10px;
    border: var(--border);
    cursor: pointer;
}

.selected {
    background-color: black;
}

.pd-frame {
    width: 1280px;
    border: var(--border);
    border-top: 0;
    margin: 0 auto;
    border-bottom: 0;
    border-right: 0;
}

.category {
    height: 70px;
    border-bottom: var(--border);
    border-right: var(--border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

.category-title {
    font-family: var(--font-family-AlternateGothic);
    font-size: var(--font-size-20);
}

.pd-content-wrapper ul {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    
}

.pd-content {
    width: calc(100% / 4);
    height: 500px;
    border: var(--border);
    border-left: 0;
    border-top: 0;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    transition: 0.7s;
}

.pd-content:hover {
    opacity: 50%;
}

.pd-content img {
    width: 100%;
    height: 450px;
    position: absolute;
    object-fit: contain;
}

.pd-info {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: auto;
}

.pd-name {
    font-family: var(--font-family-SpoqaHanSansNeo);
    font-weight: 900;
    font-size: var(--font-size-16);
    color: var(--main-color-black);
    margin-bottom: 10px;
}

.pd-price {
    font-family: var(--font-family-SpoqaHanSansNeo);
    font-weight: 900;
    font-size: var(--font-size-14);
    color: var(--main-color-black);
}

.product-features-wrapper ul {
    display: flex;
}

#product-features-section {
    border-bottom: var(--border);
    border-right: var(--border);
}

#product-features-section .category {
    border-right: 0;
}

.pf-content {
    width: calc(100% / 6);
    height: 320px;
    /* border-right: var(--border); */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pf-content figure {
    display: flex;
    justify-content: center;
}

.pf-content img {
    width: 130px;
    height: auto;
}

.pf-text {
    font-size: var(--font-size-14);
    font-weight: 900;
    font-family: var(--font-family-SpoqaHanSansNeo);
    text-align: center;
    margin-top: 18px;
}

.magazine-content-wrapper ul {
    display: flex;
    flex-wrap: wrap;
}

.magazine-content {
    width: calc(100% / 3);
    height: 540px;
    border: var(--border);
    border-top: 0;
    border-left: 0;
    overflow: hidden;
    position: relative;
}

.magazine-content img {
    width: 100%;
    height: 540px;
    object-fit: cover;
    transition: 0.7s;
}

.magazine-content img:hover {
    opacity: 50%;
}

.promotion-title {
    font-family: var(--font-family-SpoqaHanSansNeo);
    font-size: var(--font-size-16);
    color: var(--main-color-black);
    font-weight: 900;
    position: absolute;
    left: 25px;
    bottom: 25px;
}

#video-section {
    border: var(--border);
    border-bottom: 0;
    border-top: 0;
}

#video-section .category {
    border-right: 0;
}

.video-wrapper {
    position: relative;
    overflow: hidden;
}

.video-bt {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: absolute;
    right: 15px;
    bottom: 20px;
}

#hz {
    width: 1278px;
    height: auto;
    border-bottom: var(--border);
    border-right: var(--border);
}

#play, #pause, .video-link {
    transition: 0.6s;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

#play:hover, #pause:hover, .video-link:hover {
    opacity: 30%;
}

footer {
    width: 1280px;
    margin: 0 auto;
    border: var(--border);
    border-top: 0;
    box-sizing: border-box;
}

.footer-top-contents {
    height: 200px;
    position: relative;
    border-bottom: var(--border);
}

#footer-nav {
    position: absolute;
    left: 25px;
    top: 25px;
}

#footer-nav ul {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.info-link a {
    font-family: var(--font-family-AlternateGothic);
    font-size: var(--font-size-18);
    color: var(--main-color-black);
}

.info-link a:hover {
    text-decoration: underline;
}

.company-info {
    position: absolute;
    right: 25px;
    bottom: 60px;
}

.company-info p {
    font-family: var(--font-family-SpoqaHanSansNeo);
    font-size: var(--font-size-12);
    text-align: right;
    line-height: 18px;
}

.company-info a {
    color: var(--main-color-black);
    display: inline;
}

.company-info a:hover {
    text-decoration: underline;
}

.sns-icons {
    width: 110px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 25px;
    bottom: 25px;
}

.icon-hover {
    transition: 0.5s;
}

.icon-hover:hover {
    opacity: 30%;
}

.top-bt {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.footer-brand {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-brand-img {
    width: 300px;
    height: 140px;
    background-image: url(../img/footer-logo.png);
    background-size: contain;
}



@media screen and (max-width: 834px) {
    header {
        width: 770px;
    }

    .header-nav {
        width: 135px;
        font-size: var(--font-size-18);
    }

    .header-logo {
        width: 230px;
    }

    .cr-typograpy-wrapper {
        width: 770px;
        height: 180px;
    }

    .cr-typography {
        font-size: 114px;
        line-height: 138px;
    }
    
    .frame {
        width: 770px;
        height: 500px;
    }

    .text-content-wrapper {
        width: 490px;
        height: 500px;
    }
    
    .left-spacing::before, .right-spacing::after {
        width: 40px;
    }

    .text-content {
        padding: 20px;
    }

    .text-content p {
        font-size: var(--font-size-12);
        line-height: 20px;
    }

    .link-bt {
        width: 200px;
        height: 50px;
        margin-right: 25px;
    }

    .story-img {
        width: 280px;
        height: 500px;
        background-size: auto 500px;
        background-position: 50%;
    }
    
    .membership-img {
        width: 280px;
        height: 500px;
        background-size: auto 500px;
        background-position: 100%;
    }

    .home-styling-wrapper-left {
        width: 490px;
        height: 500px;
    }

    #home-styling-section .text-content-wrapper {
        width: 490px;
        height: 270px;
    }

    #home-styling-section .text-content {
        height: 200px;
    }

    #home-styling-section .content-title {
        margin-top: 0;
    }

    .hs-img-1 {
        width: 425px;
        height: 229px;
        margin-left: 30px;
        background-position: center 25%;
    }

    .home-styling-wrapper-right {
        width: 280px;
        height: 500px
    }

    .hs-img-2 {
        width: 278px;
        height: 210px;
    }

    .hs-img-3 {
        width: 278px;
        height: 288px;
    }

    .top-spacing::before {
        height: 30px;
    }

    #slide-banner-section {
        width: 770px;
        height: 480px;
    }

    .slide-content {
        width: 770px;
        height: 448px;
        object-fit: contain;
    }
    
    .slide-img-1 {
        background-position: 40%;
    }

    .radio-container {
        gap: 8px;
        right: 20px;
        bottom: 20px;   
    }

    .pd-frame {
        width: 770px;
    }

    .pd-content {
        width: calc(100% / 3);
        height: 400px;
    }

    .pd-content img {
        height: 360px;
    }

    .pd-name {
        font-size: var(--font-size-14);
    }

    .pf-content {
        height: 270px;
    }

    .pf-content img {
        width: 150px;
        height: auto;
    }

    .magazine-content {
        height: 400px;
    }

    #hz {
        width: 770px;
    }

    .video-bt {
        right: 5px;
    }

    footer {
        width: 770px;
    }

    .company-info {
        right: 15px;
    }
}




@media screen and (max-width: 375px) {
    header {
        width: 343px;
    }

    #gb-nav-bar {
        position: fixed;
        z-index: 2;
    }

    .header-nav{
        height: 70px;
    }

    .mb-hide {
        display: none;
    }
    
    .hamburgermenu {
        width: 80px;
        border: var(--border);
        border-right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--background-color);
    }

    .header-logo {
        width: 263px;
        border-right: var(--border);
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 0;
    }

    .cr-typograpy-wrapper {
        width: 343px;
        height: 130px;
    }

    .cr-typography {
        font-size: 50px;
        line-height: 110px;
    }
    

    .frame {
        width: 343px;
        height: 1000px;
        flex-direction: column-reverse;
    }

    .left-spacing::before, .right-spacing::after {
        display: none;
    }

    .text-content-wrapper {
        width: 343px;
        height: 680px;
        border-right: 0;
    }

    .story-img {
        width: 342px;
        height: 500px;
    }

    
}